body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url('../img/cats_background.jpg');
    background-size: calc(100vw - 20px) calc(100vh - 20px);
    background-position: center top;
    background-repeat: no-repeat;
}
h1 {
    text-shadow:
        1px 1px 1px rgb(207, 209, 208),
        -1px 1px 1px rgb(7, 49, 14);
    color: rgb(20, 93, 32);
    transition: all .5s;
}

input, button {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    text-shadow:
        1px 1px 1px rgb(207, 209, 208),
        -1px 1px 1px rgb(7, 49, 14);
    color: rgb(255, 255, 255);
    transition: all .5s;
}