body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(166, 201, 233);
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;

    padding: 14px;
    border-radius: 12px;
    border-color: rgb(54, 135, 160);
    border-width: 1px;
    border-style: solid;

    background-color: rgb(163, 232, 235);
}

form h2 {
    text-align: center;
    color: rgb(3, 43, 37);
}

form > *+*   {
    margin-top: 15px;
}

form div {
    display: flex;
    justify-content: space-between;
}

form div * {
    width: 100%;
}

form div > * + * {
    margin-left: 16px;
}

form input {
    height: 24px;
    font-size: medium;
    background-color: rgb(186, 225, 235);
    border-radius: 12px;
    border-color: rgb(54, 135, 160);
}

form select {
    height: 24px;
    font-size: medium;
    background-color: rgb(186, 225, 235);
    border-radius: 12px;
    border-color: rgb(54, 135, 160);
}

form textarea {
    height: 36px;
    background-color: rgb(186, 225, 235);
    border-radius: 12px;
    border-color: rgb(54, 135, 160);
}

form input[type="submit"] {
    height: 24px;
    font-size: medium;
    background-color: rgb(83, 223, 216);
    border-radius: 12px;
    border-color: rgb(54, 135, 160);
    color: rgb(3, 43, 37);
}

form input[type="submit"]:hover {
    background-color: rgb(88, 142, 185);
    color: rgb(255, 255, 255);
}

form a {
    text-decoration: none;
    color: rgb(13, 80, 70);
}

form a:hover {
    color: rgb(27, 59, 85);
    font-weight: 900;
}