body {
    font-family: 'Roboto', sans-serif;
    background-color: #7295ff; 
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    margin: 20px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.form-input {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #000000; 
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0025f9; 
}

.input-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    width: 50%;
    
    padding: 10px;
    background-color: #7295ff; 
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

button:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
}

.page-list {
    margin: 20px 5px;
}

.page-list p {
    padding: 10px;
    background-color: #7295ff;
    color: #fff;
    border-radius: 20px;
    margin: 5px;
 }

.page-container {
    display: flex;
    justify-content: center;
}

.page {
    width: 90%;
}

iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}