body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #666;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #666;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#product {
    color: #666;
}

textarea {
    resize: none; 
}

button {
    padding: 10px;
    background-color: #ff80ab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c36483;
}
