iframe{
	width: 100%;
	height: 600px;
}
#controls {
    margin: 10px 0;
}
button {
	margin-right: 5px;
	padding: 10px 20px;
}
.removebutton {
	margin-left: 5px;
}
input {
	padding: 10px 20px;
}
.lis {
	margin-bottom: 5px;
}