*{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 179, 231);
    border-radius: 50px;
    flex-direction: column;
    min-width: 400px;
    margin: 20px;
    padding: 20px;
    
}


.input{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}


.c-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.c-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}