/* Стилизация основной страницы */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Контейнер для центрирования контента */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Стили для iframe (окна сайта) */
iframe {
    width: 60%;
    height: 80vh;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Стили для блока информации */
#info {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Входные поля и кнопки */
input[type="text"],
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #45a049;
}

#slider-controls {
    margin-top: 20px;
}

/* Кнопки Back и Next */
#back-button, #next-button {
    margin: 10px;
    min-width: 100px;
}

#interval-input-section {
    margin-top: 20px;
}