body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  header {
    background-color: #f0ebf2;
    color: #020202;
    padding: 20px;
    text-align: center;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  button {
    background-color: #cbf2b3; 
    color: rgb(4, 4, 4);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

