body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    background-color: whitesmoke;
}

h1 {
    color: black;
    text-align: center;
}

.menu li.active {
    color: #154bc0;
    font-weight: bold;
}

li.active .menu {
    color: #3ce76d;
    font-weight: bold;
}